<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">

    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="false"/>

    <test name="Login Tests">
        <classes>
<!--            <class name="com.pragmatic.SauceDemo.test.LoginTest">-->
<!--                <methods>-->
<!--                    <include name="testVerifyLoginWithValidCredentials"/>-->
<!--                    <include name="testLoginWithInvalidCredentials"/>-->
<!--                    <include name="testVerifyLoginWithLockedOutUserCredentials"/>-->
<!--                    <include name="testVerifyLoginWithPerformanceGlitchUser"/>-->
<!--                    <include name="testVerifyOfUsernameAndPassword"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.pragmatic.SauceDemo.test.ProductListTest">-->
<!--                <methods>-->
<!--                    <include name="testVerifyProductPage"/>-->
<!--                    <include name="testClickAddToCartButtonForEachProduct"/>-->
<!--                    <include name="testRemoveButtonFunctionality"/>-->
<!--                    <include name="testFilterProductsAtoZ"/>-->
<!--                    <include name="testFilterProductsZtoA"/>-->
<!--                    <include name="testFilterPriceLowToHigh"/>-->
<!--                    <include name="testFilterPriceHighToLow"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.pragmatic.SauceDemo.test.CartTest">-->
<!--                <methods>-->
<!--                    <include name="testVerifyCorrectProductDisplaying"/>-->
<!--                    <include name="testVerifyMultipleProductsInCart"/>-->
<!--                    <include name="testVerifyRemoveCartItemFunctionality"/>-->
<!--                    <include name="testVerifyContinueShoppingButtonFunctionality"/>-->
<!--                    <include name="testVerifyCheckoutFunctionality"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="com.pragmatic.SauceDemo.test.CheckoutTest">
                <methods>
                    <include name="testVerifyInvalidCheckoutInformationFunctionality"/>
                    <include name="testVerifyValidCheckoutInformationFunctionality"/>
                    <include name="testVerifyOrderSummaryPage"/>
                    <include name="testVerifyFinishButtonFunctionality"/>
                    <include name="testVerifyCancelButtonFunctionality"/>
                </methods>
            </class>
            <class name="com.pragmatic.SauceDemo.test.NavigationAndLogoutTest">
                <methods>
                    <include name="testMenuFunctionality"/>
                    <include name="testVerifyLogoutFunctionality"/>
                    <include name="testVerifyAllItems"/>
                    <include name="testVerifyAboutOption"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>